{% extends 'main_app/index.html' %}
{% block style %}
<style>
    body{
        background-color: lightpink;
    }
</style>
{% endblock style %}
{% block content %}
<h2 class="text-center my-4">With which plan you would like to continue?</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for i in plans %}
        <div class="col mb-4 zoom text-center abc click" style="cursor: pointer;" id= "{{ forloop.counter }}" onclick="location.href=`{% url 'filling_details' forloop.counter %}`" name="plan_card">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="plan_pic" style="width: 100%; height: 220px;">
                <div class="con">
                    <h5 class="card-title">{{ i.title }}</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{ i.desc }}</p>
                </div>
        </div>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}