{% extends 'main_app/index.html' %}
{% load crispy_forms_tags %}
{% block main %}
<h2 class="text-center mt-2">Update Your Food Item Here</h2>
<div class="container" style="max-width: 50%;">
    <div class="card py-4 px-4 mb-2">
        <form method="POST"> 
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock main %}